<!DOCTYPE html>
<html>
<head>
  <title>Seu Título</title>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application.tailwind', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
    <main class="container mx-auto mt-28 px-5 flex">
  <%= yield %>
    </main>
</body>
</html>
